@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
  width: 100%;
}

body{
  width: 100%;
  height: 100vh;
  // overflow: auto;
}